---
layout: default
title: "GEIST | Publications"
description: "Papers we have submitted"
---
<article id="kw-publications">
    <div class="container">
<div class="container-fluid index">
  <div class="kw-section-title kw-huge"><span>Publications</span></div>
  <div class="row index all-posts">
    
    {% comment %}
      {% endcomment %}
      
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-12 content-panel articles">
          <ul style="list-style: none;">

      {% for publication in site.data.publications %}
        {% if forloop.first %}
        
        {% endif %}
        <li style="padding-left: 15px;">
          <div class="kw-publication-list-item">
            <img src="../img/assets/doc.png" width='40' height='40' /> 
            {% if publication.url %}
              <a href="{{ publication.url }}">{{publication.title}}</a>
            {% else %}
              <a href="#">{{publication.title}}</a>
            {% endif %}

            <p>
              <span>&nbsp;&nbsp;{{publication.note}}</span>

              {% if publication.bibtex %}
                <span><a class="bibtex" href="{{ publication.bibtex }}">Bibtex</a></span>
              {% endif %}
            </p>
          </div>
        </li>
        {% if forloop.last %}
      {% endif %}
    {% endfor %}
              </ul>
        </div>
    </div>
    <!-- <div class="col-md-1"></div> -->

  </div>

</article>
