<footer>
    <div class="container">
        <ul class="list-inline">
            <li>
                <a href="/projects/">Research</a>
            </li>
            <li>
                <a href="/publications/">Publications</a>
            </li>
            <li>
                <a href="/news/">News</a>
            </li>
            <!-- <li>
                <a href="/about/">About</a>
            </li> -->
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
        <p class="copyright">&copy; 2018 GEIST</p>
        <a class="designed-by" href="http://kirillragozin.com">Designed by <span>K.R.</span></a>
    </div>
</footer>