<footer>
    <div class="container">
        <ul class="list-inline">
            <li>
                <a href="/projects/">Research</a>
            </li>
            <li>
                <a href="/publications/">Publications</a>
            </li>
            <li>
                <a href="/news/">News</a>
            </li>
            <!-- <li>
                <a href="/about/">About</a>
            </li> -->
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
        <br>
        <p>&copy; 2018 GEIST</p>
        <a style="opacity: 0.18; color: white; font-size: 6px; margin-top: 5px; display: inline-block;" href="http://kirillragozin.com">Designed by K.R.</a>
    </div>
</footer>