<section id="geist-description" class="text-center">
    <div class="container">
      <div class="row">
        <div class="kw-section-title kw-huge kw-huge-alt"><span>Who we are</span></div>
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            {% assign description_paragraphs = site.data.geist.about | newline_to_br | split:'<br />' %}
            {% for paragraph in description_paragraphs %}
              <p>{{ paragraph }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-1"></div>
    </div>
</section>

