
<header class="masthead text-center text-white">
  <div class="overlay"></div>
  <div class="masthead-content">
    <div class="container">
      <!-- <img src="../img/assets/ghost_1b_256.svg" alt="Logo" width="256" height="256"> -->
      <h1 class="masthead-heading mb-0">GEIST</h1>
      <h2 class="masthead-subheading mb-0">Amplify the Sense of Wonder</h2>
    </div>
  </div>
  <!-- <img src="/img/taka.jpg" class="img-responsive" width="800" style="margin: 50px auto;"> -->
  <!-- <div class="bg-circle-1 bg-circle"></div> -->
  <!-- <div class="bg-circle-2 bg-circle"></div> -->
  <!-- <div class="bg-circle-3 bg-circle"></div> -->
  <!-- <div class="bg-circle-4 bg-circle"></div> -->
</header>   