@font-face {
    font-family: 'TC3R';
    src: url('../fonts/TC3R.ttf');
    src: local('TC3R'),  
         url('../fonts/TC3R.ttf') format('truetype'),
         url('../fonts/TC3R.svg#font') format('svg'); 
}

@font-face {
    font-family: 'TC3B';
    src: url('../fonts/TC3B.ttf');
    src: local('TC3B'),  
         url('../fonts/TC3B.ttf') format('truetype'),
         url('../fonts/TC3B.svg#font') format('svg'); 
}

@font-face {
    font-family: 'TT3R';
    src: url('../fonts/TT3R.ttf');
    src: local('TT3R'),  
         url('../fonts/TT3R.ttf') format('truetype'),
         url('../fonts/TT3R.svg#font') format('svg'); 
}

.content-wrap {
  margin-top: 70px;
  flex: 1;
}
@media (min-width: 768px) {
  .content-wrap {
    // min-height: 85%;
  }
}
.heading-font {
  font-family: 'TC3R', serif;
  // font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.body-font {
  // font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
  font-family: 'Noto Serif', serif;
}

// .alt-font {
//   font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
//   text-transform: uppercase;
//   letter-spacing: 2px;
// }

html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Noto Serif', serif;
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  // font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
  font-family: 'Noto Serif', serif;
  margin: 0 0; /* bottom = footer height */
  display: flex;
  flex-direction: column;
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: $theme-primary;
  &:hover, &:focus {
    // color: #fcbd20;
    color: $color-lblue;
  }
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
  &.light {
    border-color: white;
  }
}

h1, h2, h3, h4, h5, h6 {
  // font-family: 'TT3R', serif;
  // font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  // font-weight: 600;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.navbar-default {
  background-color: $color-black;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  // font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  .navbar-header {
    .navbar-brand {
      // font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
      font-weight: 200;
      letter-spacing: 1px;
      // color: $theme-primary;
      &:hover, &:focus {
        color: #fcbd20;
      }
    }
    .navbar-toggle {
      border: none;
      border-radius: 1px;
      background-color: #aaa;
      font-size: 12px;
      // color: #222222;
      padding: 8px 10px;
      &:hover {
        background-color: white;
      }
    }
  }
  .nav > li {
    > a {
      // font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
      font-family: 'TT3R';
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 13px;
      color: #aaa;
      &:focus {
        color: #222222;
      }
      &:hover, &:focus:hover {
        color: $theme-primary;
      }
    }
    &.active > a {
      color: $theme-primary !important;
      background-color: transparent;
      &:focus {
        color: $theme-primary !important;
        background-color: transparent;
      }
      &:hover, &:focus:hover {
        background-color: transparent;
      }
    }
  }
}
.navbar-default .navbar-collapse {
  border-color: $color-black !important;
}

@media (min-width: 768px) {
  .navbar-default {
    margin-bottom: 200px;
    background-color: transparent;
    border-color: transparent;
    .navbar-header .navbar-brand {
      color: rgba(255, 255, 255, 0.7);
      &:hover, &:focus {
        color: white;
      }
    }
    .nav > li > a {
      color: rgba(255, 255, 255, 0.7);
      &:focus {
        color: rgba(255, 255, 255, 0.7);
      }
      &:hover, &:focus:hover {
        color: white;
      }
    }
    &.affix {
      background-color: $color-black;
      .navbar-logo {
        // background: url('../img/assets/ghost_1b_256.svg');
        // background-repeat:no-repeat;
        // background-position: center center;
      }
      .navbar-logo img {
        background: url('../img/assets/ghost_1b_256.svg');
      }
      border-color: rgba(34, 34, 34, 0.1);
      .navbar-header .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
        &:hover, &:focus {
          color: $theme-primary;
        }
      }
      .nav > li > a {
        color: white;
        &:focus {
          color: white;
        }
        &:hover, &:focus:hover {
          color: $color-lblue;
        }
      }
    }
  }
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  // background-image: url("../img/assets/2.jpg");
  // height: 100%; 
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  /* fallback for old browsers */
  // background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, $head-primary, $head-secondary);
  /* Chrome 10-25, Safari 5.1-6 */
  // background: url("../img/bg-pattern.png"), linear-gradient(to left, $head-primary, $head-secondary);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  .header-content {
    text-align: center;
    padding: 150px 0 50px;
    position: relative;
    .header-content-inner {
      position: relative;
      max-width: 500px;
      margin: 0 auto;
      h1 {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 30px;
      }
      .list-badges {
        margin-bottom: 25px;
        img {
          height: 50px;
          margin-bottom: 25px;
        }
      }
    }
  }
  .device-container {
    max-width: 300px;
    margin: 0 auto 100px;
    .screen img {
      border-radius: 3px;
    }
  }
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
    .header-content {
      text-align: left;
      padding: 0;
      height: 100vh;
      .header-content-inner {
        max-width: none;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        h1 {
          font-size: 35px;
        }
      }
    }
    .device-container {
      max-width: none;
      max-height: calc(0vh);
      margin: 100px auto 0;
    }
  }
}

@media (min-width: 992px) {
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
}

section {
  padding: 0;
  h2 {
    font-size: 50px;
  }
  &.download {
    padding: 150px 0;
    position: relative;
    h2 {
      margin-top: 0;
      font-size: 50px;
    }
    .badges .badge-link {
      display: block;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        height: 60px;
      }
    }
  }
  &.features {
    .section-heading {
      margin-bottom: 100px;
      h2 {
        margin-top: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    // section-post-heading fatto da Antonio
    .section-post-heading {
      margin-bottom: 100px;
      h2 {
        margin-top: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    .device-container, .feature-item {
      max-width: 300px;
      margin: 0 auto;
    }
    .device-container {
      margin-bottom: 100px;
    }
    .feature-item {
      text-align: center;
      margin-bottom: 100px;
      h3 {
        font-size: 30px;
      }
      i {
        font-size: 80px;
        background: -webkit-linear-gradient(to left, $head-primary, $head-secondary);
        background: linear-gradient(to left, $head-primary, $head-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &.cta {
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../img/bg-cta.jpg');
    padding: 250px 0;
    .cta-content {
      position: relative;
      z-index: 1;
      h2 {
        margin-top: 0;
        margin-bottom: 25px;
        color: white;
        max-width: 450px;
        font-size: 50px;
      }
    }
    .overlay {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &.contact {
    text-align: center;
    h2 {
      margin-top: 0;
      margin-bottom: 25px;
      i {
        color: #dd4b39;
      }
    }
    ul.list-social {
      margin-bottom: 0;
      li {
        a {
          display: block;
          height: 80px;
          width: 80px;
          line-height: 80px;
          font-size: 40px;
          border-radius: 100%;
          color: white;
        }
        &.social-twitter a {
          background-color: #1da1f2;
          &:hover {
            background-color: #0d95e8;
          }
        }
        &.social-facebook a {
          background-color: #3b5998;
          &:hover {
            background-color: #344e86;
          }
        }
        &.social-google-plus a {
          background-color: #dd4b39;
          &:hover {
            background-color: #d73925;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.download h2 {
    font-size: 70px;
  }
}

@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  section.features {
    .device-container, .feature-item {
      max-width: none;
    }
  }
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

footer {
  height: 130px;
  background-color: #222222;
  padding: 30px 0;
  color: rgba(255, 255, 255, 0.3);
  // position: absolute;
  left: 0;
  // bottom: 0;
  // height: 100px;
  width: 100%;
  overflow:hidden;
  text-align: center;
  p {
    font-size: 16px;
    margin: 0;
  }
  ul {
    margin-bottom: 0;
    li a {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.3);
      &:hover, &:focus, &:active, &.active {
        text-decoration: none;
      }
    }
    li:not(:last-child):after {
      content: "|";
      padding-left: 10px;
    }
  }
}

.bg-primary {
  background: $theme-primary;
  // background: -webkit-linear-gradient($theme-primary, $theme-secondary);
  // background: linear-gradient($theme-primary, $theme-secondary);
}

.text-primary {
  color: $theme-primary;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border-color: white;
  border: 1px solid;
  &:hover, &:focus, &:active, &.active {
    color: white;
    background-color: $theme-primary;
    border-color: $theme-primary;
  }
}

.btn {
  // font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  // text-transform: uppercase;
  font-family: 'TC3R', serif;
  background-color: $color-lblue;
  color: white;
  padding: 15px 50px;
  letter-spacing: 1px;
  border-radius: 1px;
  transition: 0.5s ease-in-out;
  &:hover {
    color: white;
    background-color: $color-dblue;
    transition: 0.5s ease-in-out;
  }
}

.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}

::-moz-selection, ::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}

img {
  &::selection, &::-moz-selection {
    color: white;
    background: transparent;
  }
}

body {
  webkit-tap-highlight-color: #222222;
}


// Added style by Antonio

.no-padding {
    padding: 0;
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    .portfolio-box-caption {
        color: white;
        opacity: 0;
        display: block;
        background: rgba( $theme-primary, .9 );
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        @include transition-all;
        .portfolio-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            .project-category,
            .project-name {
                @include sans-serif-font;
                padding: 0 15px;
            }
            .project-category {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .project-name {
                font-size: 18px;
            }
        }
    }
    &:hover {
        .portfolio-box-caption {
            opacity: 1;
        }
    }
    @media (min-width: 768px) {
        .portfolio-box-caption {
            .portfolio-box-caption-content {
                .project-category {
                    font-size: 16px;
                }
                .project-name {
                    font-size: 22px;
                }
            }
        }
    }
}

// post styles

.intro-header {
  background: no-repeat center center;
  background-color: #808080;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
  .site-heading, .post-heading, .page-heading {
    padding: 100px 0 50px;
    color: white;
  }
  .site-heading, .page-heading {
    text-align: center;
  }
  .site-heading h1, .page-heading h1 {
    margin-top: 0;
    font-size: 50px;
  }
  .site-heading .subheading, .page-heading .subheading {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
  }
  .post-heading {
    h1 {
      font-size: 35px;
    }
    .subheading, .meta {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 24px;
      margin: 10px 0 30px;
      font-weight: 600;
    }
    .meta {
      font-family: 'Lora', 'Times New Roman', serif;
      font-style: italic;
      font-weight: 300;
      font-size: 20px;
      a {
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro-header {
    .site-heading, .post-heading, .page-heading {
      padding: 150px 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro-header {
    .site-heading h1, .page-heading h1 {
      font-size: 80px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro-header .post-heading {
    h1 {
      font-size: 55px;
    }
    .subheading {
      font-size: 30px;
    }
  }
}

/* Map */
.map {
  height: 60rem;
}

@media (max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}

input[type="text"], textarea.form-control, input[type="email"]{
  min-height: 40px;
  border-radius: 1px;
  resize: none;
  padding: 10px;
  font-size: 16px;
}

textarea.form-control {
  height: 300px;
}

label {
  font-family: 'TT3R', serif;
  font-size: 16px;
}



header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(5rem + 55px);
  // padding-top: 100px;
  padding-bottom: 7rem;
  background: url('../img/assets/2.jpg');
  // background: linear-gradient(0deg, $color-dblue 0%, $color-black 100%);
  // background-color: $color-dblue;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  .overlay {
    opacity: 0.92;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, $color-dblue 0%, $color-black 100%);
    background-color: $color-dblue;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
  }
  .masthead-content {
    z-index: 1;
    padding: 50px 0px;
    position: relative;
    .masthead-heading {
      font-size: 4rem;
      font-family: 'Nunito', sans-serif;
      font-weight: 100;
    }
    .masthead-subheading {
      font-family: 'TT3R', serif;
      opacity: 0.8;
      font-size: 2rem;
    }
  }
  .bg-circle {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(0deg, $color-lblue 0%, $color-dblue 100%);
  }
  .bg-circle-1 {
    height: 90rem;
    width: 90rem;
    bottom: -55rem;
    left: -55rem;
  }
  .bg-circle-2 {
    height: 50rem;
    width: 50rem;
    top: -25rem;
    right: -25rem;
  }
  .bg-circle-3 {
    height: 20rem;
    width: 20rem;
    bottom: -10rem;
    right: 5%;
  }
  .bg-circle-4 {
    height: 30rem;
    width: 30rem;
    top: -5rem;
    right: 35%;
  }
}

@media (min-width: 992px) {
  header.masthead {
    // padding-top: 100px;
    padding-top: calc(5rem + 55px);
    padding-bottom: 7rem;
    .masthead-content {
      .masthead-heading {
        font-size: 6rem;
        font-family: 'Nunito', sans-serif;
        font-weight: 100;
      }
      .masthead-subheading {
        font-family: 'TT3R', serif;
        font-size: 4rem;
        opacity: 0.8;
      }
    }
  }
}

.navbar-logo {
  opacity: 0.3;
  transition: 0.5s ease-in-out;
  &:hover {
    opacity: 1;
    transition: 0.5s ease-in-out;
  }
  margin-top: -4px;
}


.navbar-blog {
  background-color: $color-black;
}

#kw-fill {
  background: linear-gradient(0deg, $color-black 50%, $color-dblue 100%);
  // background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  position: relative;
  overflow: hidden;
  // padding-top: calc(0rem + 55px);
  // padding-top: 100px;
  padding-bottom: 4rem;
}

#kw-about {
  background-color: white;
  // color: white;
  padding-top: 140px;
  margin: 0;
  padding-bottom: 120px; //padding-top - 20px
}

.kw-postbox {
  border-radius: 100%;
  background-color: white;
  padding: 0;
  height: 300px;
  overflow: hidden;
  // a img {
  //   position: absolute;
  //   width: 100%;
  // }
}

.rounded-circle {
  border-radius: 50%!important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

// MONKEY PATCHING BELOW

.kw-section {
  padding-top: 20px;  
  padding-bottom: 20px;
}

.kw-section-title {
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-family: TT3R;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 1px;
}

#kw-updates {
  .post-date {
    font-size: 13px;
  }
  .post-title {
    font-size: 19px; 
  }
  background-color: #131313;
  .kw-section-title {
    color: white;
    opacity: 0.8;
  }
  .kw-update-front {
    padding: 0 10px 45px 10px;
    .kw-update-text {
      color: rgba(255,255,255, 0.75);
      font-size: 17px;
    }
    a {
      opacity: 0.85;
    }
  }
}

footer {
  background-color: #000000;
}

.masthead-subheading {
  font-weight: 200;
  font-family: 'TT3R', serif;
  letter-spacing: 1px;
}

#kw-featured {
  background-color: #f5f5f5;
  min-height: 600px;
  .kw-section-title {
    font-size: 32px;
    font-family: 'TC3B';
    // text-decoration: none;
    // background-color: #131313;
    // color: white;
    // border-bottom: 1px dotted $color-black;
    // border-top: 1px dotted $color-black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
    span {
      display: inline-block;
      border-bottom: 8px solid $color-lblue;
      // margin-bottom: -5px;
      // padding-left: 10px;
      // padding-right: 10px;
    }
    // padding-bottom: 10px;
  }
  .featured-item {
    // border: 1px solid black;
    margin-bottom: 25px;
    a {
      color: $color-black;
    }
  }
  .featured-image {
    border: 1px solid $color-black;
  }
  .featured-description {
    font-size: 17px;
  } 
}