<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  
  {% comment %}
  <section id="kw-about" class="text-center">
    <div class="container">
      <div class="row">
        <p>Geist is a research group at the Keio Graduate School of Media Design, Keio University Japan, as well as a loosely connected collective of individuals driven by the same ideals.</p>
      </div>
    </div>
  </section>
  {% endcomment %}

  <section class="kw-section" id="kw-featured">
    <div class="container">
        <div class="kw-section-title kw-huge"><span>Featured Research</span></div>
          {% assign featured_projects = site.data.projects | where: 'featured', 'yes' %}
          {% assign rows = featured_projects.size | divided_by: 3.0 | ceil %}
          {% for i in (1..rows) %}
            {% assign offset = forloop.index0 | times: 3 %}
            <div class="row">
            {% for project in featured_projects limit:3 offset:offset %}
              <div class="col-md-4">
                <div class=featured-item>
                  <div class="featured-image">
                    <a href="/projects/{{project.id}}"">
                      <img src="{{ project.main_image | prepend: site.baseurl }}" class="img-responsive" alt="{{ project.title }}" title="{{ project.title }}">
                    </a>
                  </div>
                  <div>
                    <h3 class="featured-title">
                      <a href="/projects/{{project.id}}">
                        {{ project.title }}
                      </a>
                      </h3>
                    <div class=featured-description>{{ project.featured_description }}</div>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
          {% endfor %}
      </div>
    </div>
  </section>

  <section class="kw-section" id="kw-updates">
    <div class="container">
      <div class="row">
        <div class="kw-section-title"><h3>Recent updates</h3></div>
        {% for post in site.posts limit:2 %}
          <div class="col-md-6">
            <div class="kw-update-front">
              <div class="kw-update-text">
                <div class="post-date">{{ post.date | date: "%B %d, %Y" }}</div>
                <h4 class="post-title">
                  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>
                </h4>
                {{ post.content | markdownify | strip_html | truncatewords: 50 }}
                <a href="{{ post.url }}">Read More</a>
              </div>
            </div>
            <!-- <img src="/{{ update_one.header-img | prepend: site.baseurl }}" class="img-responsive" alt="{{ update_one.title }}"> -->
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

    <!-- <div class="col-lg-4">
      <a href="{{ update_two.url | prepend: site.baseurl }}">
        <img src="/{{ update_two.header-img | prepend: site.baseurl }}" class="img-responsive" alt="{{ update_two.title }}">
      </a>
    </div>
    <div class="col-lg-4">
      <a href="{{ update_three.url | prepend: site.baseurl }}">
        <img src="/{{ update_three.header-img | prepend: site.baseurl }}" class="img-responsive" alt="{{ update_three.title }}">
      </a>
    </div> -->

    <!-- <div class="col-lg-8">
        <h3>
            <a href="{{ update_one.url | prepend: site.baseurl }}">{{ update_one.title }}</a>
        </h3>
        <small class="hidden-xs">{{ update_one.date | date: "%B %-d, %Y" }}</small>
    </div> -->

  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>
